.background {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #009ee7 0%, #005881 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.container {
  width: 90%;
  max-width: 540px;
  padding: 40px;
  background: #fff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: clamp(18px, 5vw, 21px);
}

.title span {
  font-weight: 600;
}

.title .ai {
  color: #006fb4;
}

.email {
  display: flex;
  flex-direction: column;
}

.password {
  display: flex;
  flex-direction: column;
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.eyeIcon {
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: #808080;
  font-size: 18px;
}

.inputs input {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #808080;
  font-weight: 300;
  padding: 12px 0 12px 12px;
  border: 2px solid #cbd5e1;
  border-radius: 10px;
  outline: none;
  height: 54px;
  transition: box-shadow 0.2s, border-color 0.2s;
}

.line > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputs label {
  font-size: clamp(14px, 4vw, 15px);
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
}

.inputs input:focus {
  border-color: #006fb4;
}

.btn {
  width: 100%;
  height: 54px;
  background: #0089ed;
  border: none;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.02);
}

.footer {
  width: 100%;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  color: #808080;
}

.link {
  color: #0089ed;
  text-decoration: none;
}

@media (max-width: 540px) {
  .line {
    flex-direction: column;
  }
  .container {
    padding: 25px;
  }
  .inputs {
    gap: 15px;
  }
}
